<div>
    <h1>Add Task</h1>
    <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title">
        <mat-error *ngIf="taskForm.get('title')?.hasError('required')">Title is required</mat-error>
        <mat-error *ngIf="taskForm.get('title')?.hasError('minlength')">Title must be at least 3 characters long</mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description"></textarea>
        <mat-error *ngIf="taskForm.get('description')?.hasError('required')">Description is required</mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
  </div>
  